.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.item{
  height: 350px;
  padding: 0 !important;
  margin: 10 !important;
}

.buttons{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 0 auto;
  margin-right: 0 auto;

}

.rows{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
